@import "tailwindcss";

@theme {
  --color-petroleum: #264653;
  --color-teal: #2A9D8F;
  --color-sand: #E9ECEF;
  --color-white: #FFFFFF;
  --color-gray-text: #495057;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'DM Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  color: var(--color-gray-text);
  background-color: var(--color-white);
}